/* Landing.module.css */

.landing {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 72px - 150px);
    background: #00000050;
  }
  
  .landing h1 {
    font-size: 30px;
  }
  
  .landing .text {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 0.5rem;
  }
  
  .landing .text h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .landing .img {
    border-radius: 45px;
    border: #3b4288 5px solid;
    box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.39);
    position: relative;
    height: 75%;
    overflow: hidden;
    background-image: url(/img/exemple.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .landing .img img {
    visibility: none;
    height: 100%;
    width: inherit;
  }
  
  .landing .subtitle {
    font-size: 1.25rem;
  }
  
  .landing .links {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    margin-top: 1rem;
  }
  
  a.landing_link {
    --width: 200px;
    --height: 50px;
  }
  